a {

  text-decoration: none;
}

/* blue bar header at top of page*/
hr {
  width: 95%;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color:#57B0FF;
  border: 0 none;
  margin-top: 10px;
  margin-bottom:10px;
}

/* background image */
img.bg {
  position: fixed; 
  margin: auto; 
  width: 99%; 
  height: 100%;
  z-index:-1;
}

img.logo {
  height: 340px;
  width: 290px;
  margin-top:  5px;
  margin-left: 15px;
  margin-right; 120px;
  float: left;
}

/*menu style*/
.nav_menu {
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #666;
  text-shadow: 2px 2px 5px yellow;
}

.nav_menu a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.nav_menu a:hover {
  color:#000;
}

.nav_menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav_menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav_menu a:active::before{
  color #000;
}

#currentpage {
  font-size: 24px;
  text-shadow: 1px 1px 4px deepskyblue;
}


/*menu support and signin*/
#right.nav_menu {
  margin-right: 40px;
}

#right.nav_menu li {
  display: inline;
  float: right; 
  list-style-type:none;
  margin: 20px;
  padding: 10px;
}

/*menu instructions, gallery, pages*/
#left.nav_menu {
  margin-left: 15%;
}

#left.nav_menu li {

  display: inline;
  float: left;
  list-style-type:none;
  margin: 20px;
  margin-right: 40px;
  padding: 10px;
}

/*website title mid-screen*/
#site_name_block_index {
  clear: left;
  margin-left: 10%;
  margin-top: 20%;
  float: bottom;
}

/*website title mid-screen*/
#site_name_block_notindex {
  clear: left;
  margin-left: 40px;
  margin-top: 240px;
  float: top;
}

p.landing_text {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;

}

span.black-highlight1 { 
  display: inline-block;
  text-align: center;
  font-size: 140px;
  line-height: 90px;
  width: 355px;
  background: #666;
}

span.black-highlight2 { 
  display: inline-block;
  text-align: center;
  font-size: 190px;
  line-height: 70px;
  margin-bottom: 50px;
  margin-left: 30px;
  color: yellow;
}
span.black-highlight3 { 
  display: inline-block;
  text-align: center;
  font-size: 140px;
  line-height: 90px;
  width: 485px;
  background: #666;
}

span.black-highlight1A {
  display: inline-block;
  text-align: center;
  font-size: 70px;
  line-height: 45px;
  width: 178px;
  background: #666;
}

span.black-highlight2A {
  display: inline-block;
  text-align: center;
  font-size: 95px;
  line-height: 35px;
  margin-bottom: 25px;
  margin-left: 15px;
  color: yellow;
}
span.black-highlight3A {
  display: inline-block;
  text-align: center;
  font-size: 70px;
  line-height: 45px;
  width: 243px;
  background: #666;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 255, 0.1);
  color: white;
  line-height: 5px;
  text-align: center;
}


/* 								 Sign in css files here 
*/

.loginboxframe{
  display: table;
  width: 350px;
  margin: 0 auto;
}


.loginbox {
  display: table-cell;
  padding-bottom: 20px;
  background: #fff;
  border-radius: 9px;
  border: 4px solid #ccc;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  text-shadow: 2px 2px 5px yellow;
  box-shadow: 3px 3px #666;
}

.loginbox label {
  color: #555;
  display: inline-block;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 22px;
}

.submitbox {
  display: table-row;
  text-align: right
}

form {
  margin: 0 auto;
  margin-top: 20px;
}

input[type=checkbox] {
  margin-left: 20px;
  margin-top: 30px;
}

.check {
  margin-left: 3px;
}



input {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  outline: none;
}

.loginbox input[type=text],
input[type=password] {
  color: #777;
  padding-left: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 18px;
  width: 290px;
  height: 35px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
}

#register_link {
  float: right;
  margin-top: 10px;
  margin-right: 26px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  text-shadow: 2px 2px 5px yellow;
  font-size: 14px;
}

/* Error message styles */

div .message {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 3px;
  color: black;
  font: bold;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}


#bad {
  background: red;
  box-shadow: 5px 5px #2196F3;
  text-shadow: 2px 2px 5px white;
}


#good {
  background: #2196F3;
  box-shadow: 5px 5px yellow;
  text-shadow: 2px 2px 5px yellow;
}


/*		BUTTON STYLES 		*/

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 6px 8px;
  margin: 3px;
  border: 0;
  outline: 0;
  color: white;
  background-color: #2196F3;
  text-transform: uppercase;
  border-radius: 0.15em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

  overflow: hidden;
  position: relative;
}

button .ripple {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

.BUTTON {
  box-shadow: 3px 6px #999;
  margin-top: 10px;

}  

.BUTTON:active {
  box-shadow: 2px 2px #666;
  transform: translateY(4px);
}

/*          Slider styles          */

.picBoxFrame {
  width: 900px;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
}

.picFrame {
  padding-bottom: 20px;
  border-radius: 9px;
  border: 4px solid #ccc;
  box-shadow: 6px 6px 6px 6px #2196F3;
  width: 900px;
  height: 1080px;
}

#slider {
    width: 900px;
    height: 1100px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 8000px;
    height: 1080px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width:900px;
    height: 1100px;
}

/*   SUGGESTION/COMMENTS BOX    */

.suggboxframe{
  display: table;
  margin: 0 auto;
}

.suggbox {
  display: table-cell;
  padding-left: 5px;
  width: 650px;
  height: 650px;
  padding-bottom: 20px;
  background: #fff;
  border-radius: 9px;
  border: 4px solid #ccc;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  text-shadow: 2px 2px 5px yellow;
  box-shadow: 3px 3px #2196F3;
}


.suggbox label{
  display: table-cell;
  margin-left: 18px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  outline: none;
}

.resizedcommentbox {

  width: 630px; 
  height: 50px; 
  padding: 0px;
  font-size: 18px;
  margin-left: 5px;
}

.resizeduserbox {

  width: 200px; 
  height: 10px; 
  padding: 10px;
  font-size: 18px;
  margin-left: 5px;
}

table, td, th { 
  margin: auto;
  margin-top: 40px;
  border: 2px solid black; 
  box-shadow: 2px 2px yellow;
  width: 630px;
  padding: 0px;
  font-size: 18px;
  margin-left: 5px;
  text-align: center;
}
}
td, th {
  padding: 5px 10px 10px 10px;
}

table { 
  border-collapse: collapse; 
}






